a#projects.anchor
.section.stuff
    .container
        h2.text-center Projects / Stuff I've done
        
        - let projsep = false
        each project in cvData.projects
            //- Add project separator
            - if (projsep)
                hr.container.proj-sep
            
            div.project
                a.anchor(id='project-'+project.id)
                -
                    let projclass = '';
                    if (project.markWeb)
                        projclass += ' highlight-web';
                    if (project.markSystems)
                        projclass += ' highlight-systems';
                div.project-highlight(id='section-project-'+project.id, class=projclass)
                h4= project.name
                
                //- Add possible links
                - if (project.links)
                    - let linksep = false
                    p.links
                        each link in project.links
                            - if (linksep)
                                |    /    
                            a(href=link.url target='_blank')= link.name
                            - linksep = true
                
                p.desc!= project.desc
                p.tech-used= project.tech
                p.string!= project.text
            - projsep = true
            //- End project loop
            