a#projects.anchor
.section.projects
    .container
        h2.text-center= sections.projects.name
        
        .project-list
            each project in projects
                -
                    let contclass = '';
                    if (project.printHide)
                        contclass += ' no-print';
                div.project(class=contclass)
                    a.anchor(id='project-'+project.id)
                    -
                        let projclass = '';
                        if (project.markWeb)
                            projclass += ' highlight-web';
                        if (project.markSystems)
                            projclass += ' highlight-systems';
                    div.project-highlight(id='section-project-'+project.id, class=projclass)
                    h4= project.name
                    
                    //- Add possible links
                    - if (project.links)
                        - let linksep = false
                        p.links
                            each link in project.links
                                - if (linksep)
                                    |    /    
                                a(href=link.url target='_blank')= link.name
                                - linksep = true
                    
                    p.desc!= project.desc
                    p.tech-used= project.tech
                    p.string!= project.text
                //- End project loop
                